#f-table button {
	height: var(--height-small);
	min-width: var(--height-small);
}

#keyboard #menu {
	flex-basis: 100%;
}

#keyboard #menu button {
	font-size: var(--font-size-h5);
	width: 25%;
}

#keyboard #trigonometry {
	display: none;
}

#keyboard #division section {
	margin: 0;
}

#input-formula {
	min-width: var(--space-wide);
	min-height: var(--margin-medium);
}

#input-name {
	justify-content: flex-end;
}

#input-color {
	height: var(--height-small);
	min-width: var(--height-small);
}

#results {
	padding-left: var(--margin-wide);
}

#templateFunctionInput {
	display: none;
}

@media only screen and (max-width: 900px) {
	#keyboard button {
		box-sizing: border-box;
		width: 100%;
	}
	#keyboard span {
		display: block;
	}
	#move {
		bottom: initial;
	}
	#results {
		display: none;
	}
	#settings {
		display: none;
	}
}