p a {
	text-decoration: underline;
}

p a:hover {
	color: var(--blue);
}

a img:hover {
	opacity: 0.5;
}

footer section {
	background-color: var(--color-panel);
	width: 100%;
}

footer section h2 {	
	color: var(--color-title);
}

footer .bordered {
	margin-left: calc(-1 * var(--space-medium));
	padding-left: var(--space-medium);
}

footer .copyright {
	background-color: var(--color-background);
	text-align: center;
}

footer .results {
	background-color: var(--color-background);
}

.showcase {
	justify-content: center;
	text-align: center;
}

.showcase a {
	text-decoration: none;
}

.showcase h2 {
	color: var(--color-text);
}

.showcase p {
	margin: auto;
	width: 40%;
}

.showcase img {
	margin: var(--space-big);
	height: var(--space-huge);
	width: auto;
}

@media only screen and (max-width: 900px) {
	footer .bordered {
		margin-left: 0;
		padding-left: 0;
	}

	footer .used-technologies img {
		width: auto;
	}

	.showcase p {
		width: 80%;
	}
}