footer a:hover {
	opacity: 0.5;
}

footer section {
	background-color: var(--color-panel);
	width: 100%;
}

footer section h2 {	
	color: var(--color-title);
}

footer .bordered {
	margin-left: calc(-1 * var(--padding-section));
	padding-left: var(--padding-section);
}

footer .copyright {
	background-color: var(--color-background);
	text-align: center;
}

footer .description img {
	margin-right: var(--margin-section);
	height: var(--height-small);
	width: auto;
}

footer .results {
	background-color: var(--color-background);
}

footer .showcase {
	justify-content: center;
	text-align: center;
}

footer .showcase h2 {
	color: var(--color-text);
}

footer .showcase p {
	margin: auto;
	width: 40%;
}

footer .showcase img {
	margin: var(--padding-wide);
	height: var(--height-big);
	width: auto;
}

@media only screen and (max-width: 900px) {
	footer .bordered {
		margin-left: 0;
		padding-left: 0;
	}

	footer .showcase p {
		width: 80%;
	}

	footer .used-technologies img {
		width: auto;
	}
}