@import "panel.css";

#f-table #input-formula {
	margin-right: var(--margin-wide);
}

#f-table button {
	height: var(--height-button-small);
	min-width: var(--height-button-small);
}

#f-table #input-color {
	height: var(--height-button-small);
	min-width: var(--height-button-small);
}

#keyboard #menu {
	flex-basis: 100%;
}

#keyboard #menu button {
	font-size: var(--font-size-h5);
	width: 25%;
}

#keyboard #trigonometry {
	display: none;
}

#keyboard #division section {
	margin: 0;
}

#templateFunctionInput {
	display: none;
}

@media only screen and (max-width: 900px) {
	#keyboard button {
		box-sizing: border-box;
		width: 100%;
	}
	#keyboard span {
		display: block;
	}
	#settings {
		display: none;
	}
	#move {
		display: none;
	}
}