@import "style.css";

body {
  	overflow-x: hidden;
	overflow-y: hidden;
}

canvas {
	background-color: var(--color-background);
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
}

.panel {
	background-color: var(--color-panel);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	font-weight: normal;
	font-style: normal;
	font-size: var(--font-size-paragraph);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	position: absolute;
	z-index: var(--panel-index);
	padding: var(--padding-medium);
}

.panel div {
	display: flex;
  	justify-content: flex-start;
	outline: 0;
	padding: 0;
}

.panel section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: var(--padding-medium);
}

.panel span {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.panel button {
	background-color: var(--color-panel-button);
	height: var(--height-button-medium);
	margin: var(--margin-small);
	padding: var(--padding-medium);
	outline: 0;	
}

.panel button:hover {
	background-color: var(--color-hovered);
	cursor: pointer;
}

.panel button:active {
	background-color: var(--color-button);
}

.panel input {
	border: none;
	height: var(--height-button-medium);
	margin: var(--margin-small);
	padding: var(--padding-medium);
	outline: 0;
}

#move button {
	height: var(--height-button-small);
	min-width: var(--height-button-small);
}

#show {
	display: none;
}

#settings #theme {
	background-color: var(--color-text);
}

#settings #ms {
	display: none;
}
