:root {

	/* Color variables */

	--red:       #e03921;
	--orange:    #e07440;
	--yellow:    #d9a925;
	--green:     #249b4e;
	--cyan:      #13a2d6;
	--blue:      #4a3ee9;
	--purple:    #c62f94;
	--gray:      rgb(46, 46, 46);
	--dark-gray: rgb(32, 32, 32);

	/*Dark theme*/

	--dark-color-background:     rgb(46, 46, 46);
	--dark-color-panel:          rgb(32, 32, 32);
	--dark-color-panel-button:   rgb(38, 38, 38);
	--dark-color-button:         rgb(173,90,50);
	--dark-color-border:         rgb(60, 60, 60);
	--dark-color-grid-primary:   rgb(128, 128, 128);
	--dark-color-grid-secondary: rgb(64, 64, 64);
	--dark-color-line:           rgb(239, 239, 239);
	--dark-color-title:          var(--orange);
	--dark-color-heading:        rgb(239, 239, 239);
	--dark-color-text:           rgb(239, 239, 239);
	--dark-color-hovered:        rgb(46, 46, 46);
	--dark-color-active:         rgb(38, 38, 38);

	/*Light theme */

	--light-color-background:     rgb(255, 255, 255);
	--light-color-panel:          rgb(230, 230, 230);
	--light-color-panel-button:   rgb(210, 210, 210);
	--light-color-button:         rgb(173,90,50);
	--light-color-border:         rgb(60, 60, 60);
	--light-color-grid-primary:   rgb(128, 128, 128);
	--light-color-grid-secondary: rgb(164, 164, 164);
	--light-color-line:           rgb(32, 32, 32);
	--light-color-title:          var(--orange);
	--light-color-heading:        rgb(32, 32, 32);
	--light-color-text:           rgb(16, 16, 16);
	--light-color-hovered:        rgb(200, 200, 200);
	--light-color-active:         rgb(220, 220, 220);

	/* Theme variables */

	--color-background:     var(--dark-color-background);
	--color-panel:          var(--dark-color-panel);
	--color-panel-button:   var(--dark-color-panel-button);
	--color-button:         var(--dark-color-button);
	--color-border:         var(--dark-color-border);
	--color-grid-primary:   var(--dark-color-grid-primary);
	--color-grid-secondary: var(--dark-color-grid-secondary);
	--color-line:           var(--dark-color-line);
	--color-title:          var(--dark-color-title);
	--color-heading:        var(--dark-color-heading);
	--color-text:           var(--dark-color-text);
	--color-hovered:        var(--dark-color-hovered);
	--color-active:         var(--dark-color-active);

	/* Border variables */

	--default-border:   1px solid var(--color-border);
	--fraction-border:  1px solid var(--color-text);
	--radical-border: 0.5px solid var(--color-text);

	/* Sizing variables */

	--margin-small:  0.1rem;
	--margin-medium: 0.2rem;
	--margin-big:    0.5rem;
	--margin-section:  1rem;
	--margin-wide:     2rem;

	--padding-small:  0.1rem;
	--padding-medium: 0.2rem;
	--padding-big:    0.5rem;
	--padding-section:  1rem;
	--padding-wide:     2rem;

	--padding-list: 1.5rem;

	--height-button-small:  2rem;
	--height-button-medium: 3rem;
	--height-button-big:    4rem;

	--panel-index: 2;

	/* Font variables */

	--font-button:    Verdana;
	--font-input:     Verdana;
	--font-paragraph: Verdana;
	--font-heading:   Arial;

	--font-size-button:    1rem;
	--font-size-input:     1rem;
	--font-size-paragraph: 1rem;
	--font-size-h1: calc(2.00 * var(--font-size-paragraph));
	--font-size-h2: calc(1.50 * var(--font-size-paragraph));
	--font-size-h3: calc(1.17 * var(--font-size-paragraph));
	--font-size-h4: calc(1.05 * var(--font-size-paragraph));
	--font-size-h5: calc(0.85 * var(--font-size-paragraph));
	--font-size-h6: calc(0.67 * var(--font-size-paragraph));
}

::placeholder {
	color: var(--color-text);
	opacity: 1;
}

::-ms-input-placeholder {
	color: var(--color-text);
}

alert {
	color: var(--color-text);
	font-family: var(--font-paragraph);
	font-size: var(--font-size-paragraph);
}

a {
	color: var(--color-text);
	font-family: var(--font-paragraph);
	font-size: var(--font-size-paragraph);
	text-decoration: none;
}

span  {
	color: var(--color-text);
	font-family: var(--font-paragraph);
	font-size: var(--font-size-paragraph);
}

ol, ul {
	color: var(--color-text);
	font-family: var(--font-paragraph);
	font-size: var(--font-size-paragraph);
	list-style-position: outside;
	padding-left: var(--padding-list);
}
li {
	margin-bottom: var(--margin-big);
}

p {
	color: var(--color-text);
	font-family: var(--font-paragraph);
	font-size: var(--font-size-paragraph);
}

h1 {
	color: var(--color-heading);
	font-size: var(--font-size-h1);
	font-family: var(--font-heading);
}

h2 {
	color: var(--color-heading);
	font-size: var(--font-size-h2);
	font-family: var(--font-heading);
}

h3 {
	color: var(--color-heading);
	font-size: var(--font-size-h3);
	font-family: var(--font-heading);
}

h4 {
	color: var(--color-heading);
	font-size: var(--font-size-h4);
	font-family: var(--font-heading);
}

h5 {
	color: var(--color-heading);
	font-size: var(--font-size-h5);
	font-family: var(--font-heading);
}

h6 {
	color: var(--color-heading);
	font-size: var(--font-size-h6);
	font-family: var(--font-heading);
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

button {
	background-color: var(--color-button);
	border: none;
	box-sizing: border-box;
	color: var(--color-text);
	display: inline;
	font-family: var(--font-button);
	font-size: var(--font-size-button);
	height: var(--height-button-medium);
	margin-left: 0;
	margin-right: var(--margin-big);
	margin-top: var(--margin-big);
	margin-bottom: var(--margin-big);
	min-width: var(--height-button-medium);
	padding: var(--padding-big);
}

button span {
	font-size: var(--font-size-h5);
	margin: 0;
	padding: 0;
}

button span section {
	margin: 0;
	padding: 0;	
}

button:hover {
	background-color: var(--color-hovered);
	cursor: pointer;
}

button:active {
	background-color: var(--color-active);
}

input {
	background-color: rgba(0, 0, 0, 0);
	border: var(--default-border);
	box-sizing: border-box;
	color: var(--color-text);
	font-size: var(--font-size-input);
	font-family: var(--font-input);
	margin-left: 0;
	margin-right: var(--margin-big);
	margin-top: var(--margin-big);
	margin-bottom: var(--margin-big);
	padding: var(--padding-big);
	width: 100%;
}

input[type = text] {

}

input[type = color] {
	cursor: pointer;
	width: var(--height-button-small);
}

input[type = checkbox] {
	border-radius: 0;
	cursor: pointer;
	display: inline;
	height: var(--font-size-input);
	outline: 0;
	width: var(--font-size-input);
}

input:focus {
	border-color: var(--color-title);
	outline: 0;
}

textarea {
	background-color: rgba(0, 0, 0, 0);
	border: var(--default-border);
	box-sizing: border-box;
	color: var(--color-text);
	display: inline;
	font-size: var(--font-size-input);
	font-family: var(--font-input);
	height: calc(10 * var(--font-size-input));
	margin-left: 0;
	margin-right: var(--margin-big);
	margin-top: var(--margin-big);
	margin-bottom: var(--margin-big);
	padding: var(--padding-big);
	outline: 0;
	max-width: 100%;
	min-width: 100%;
	width: 100%;
}

textarea:focus {
	border-color: var(--color-title);
	outline: 0;
}

label {
	align-items: center;
	color: var(--color-text);
	display: inline-flex;
	flex-direction: column; 
	flex-wrap: nowrap;
	font-size: var(--font-size-input);
	font-family: var(--font-paragraph);
    justify-content:center;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
	border-spacing: 0;
}

table td{
	color: var(--color-text);
	font-size: var(--font-size-input);
	font-family: var(--font-paragraph);
}

.top {
	display: flex;
	margin: 0 auto auto auto;
	top: 0;
}

.right {
	display: flex;
	margin: 0 0 0 auto;
	right: 0;
}

.bottom {
	display: flex;
	margin: auto auto 0 auto;
	bottom: 0;
}

.left {
	display: flex;
	margin: 0 auto 0 0;
	left: 0;
}

.half-width {
	display: flex;
	width: 50%;
}

.wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

.wrapper-content {
    box-sizing: border-box;
	display: block;
	padding: var(--padding-section);
}

.wrapper-over {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	top: 0;
	text-align:center;
	height: 100%;
	width: 100%;
}

.fraction-nominator {
	justify-content: center;
}

.fraction-denominator {
	border-top: var(--fraction-border);
	justify-content: center;
}

.bordered {
	border-left: var(--default-border);
}

.radical {
	border-top: var(--radical-border);
	justify-content: center;
}

#text-over-image {
	color: var(--dark-color-heading) !important;
}

@media only screen and (max-width: 900px) {
	:root {
		--font-size-button:    0.9rem;
		--font-size-input:     0.9rem;
		--font-size-paragraph: 0.85rem;

		--height-button-small:  1.8rem;
		--height-button-medium: 2.5rem;
		--height-button-big:    3.2rem;

	    --padding-list: 1rem;
	}

	.half-width {
		width: 100%;
	}

	.wrapper {
		flex-direction: column;
		width: 100%;
	}

	.wrapper-over {
		justify-content: flex-start;
	}

	.bordered {
		border-left: none;
		border-top: var(--default-border);
		margin-left: 0;
		padding-left: 0;
	}

	menu section {
		padding: 0 var(--padding-section);
	}

	menu a {
		border-top: var(--default-border);
	}

	menu .bordered {
		border-top: none;
	}

	menu a:nth-child(even) .bordered {
		border-left: var(--default-border);
	}

	menu .wrapper {
		flex-direction: row;
	}

	menu .wrapper span {
		margin: var(--padding-section) 0;
		padding: var(--padding-section) var(--padding-wide);
		text-align: center;
		width: 100%;
	}
}
